<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Mpg", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Basic:wght@400;700&family=PT+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="container w-full md:max-w-3xl mx-auto h-screen p-4 flex flex-col justify-center items-center text-center">
      <p class="text-x capitalize"><%= assigns.reason.message %></p>
      <%= link "Back to Lobby", class: "btn-primary w-64 mt-10", to: "/" %>
    </main>
  </body>
</html>
